:root {
  --color: #3498db;
  --lightgrey: #aaa;
  --darkgrey: #555;
  --repoTitleColor: #547BCB;
}

.App {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Noticia Text", serif;
  color: var(--color);
}

li {
  margin-left: 2rem;
}
