:root {
  --color: #3498db;
  --lightgrey: #999;
  --darkgrey: #555;
  --repoTitleColor: #547BCB;
}

.App {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  background: url('./assets/bg.png');
  background-size: cover;
  background-position: left;
  height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Noticia Text", serif;
  color: var(--color);
}

li {
  margin-left: 2rem;
}

a{
  text-decoration: none;
}
